.event__instance__content {
  margin: 150px auto;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  @include tablet {
    margin: 50px auto;
    width: 90%;
    flex-direction: column;
  }
}

.content__info {
  width: 25%;
  height: 300px;
  @include tablet {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .item {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    img {
      height: 40px;
      margin-right: 20px;
      @include for-phone-only {
        margin-right: 10px;
        height: 25px;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      color: gray;
      @include for-phone-only {
        font-size: 14px;
      }
      h4 {
        margin-bottom: 5px;
        font-size: 22px;
        color: $l-blue;
        @include for-phone-only {
          font-size: 15px;
        }
      }
    }
  }
}

.content__text {
  width: 70%;
  @include tablet {
    margin-top: 40px;
    width: 100%;
  }
  h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: $d-blue;
    @include for-phone-only {
      font-size: 25px;
    }
  }
  p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.6px;
    @include for-phone-only {
      font-size: 14px;
      line-height: 24px;
    }
  }
  a {
    color: $l-blue;
    display: flex;
    align-items: center;
    display: flex;
    width: 170px;
    margin-top: 30px;
    img {
      height: 30px;
      margin-left: 10px;
    }
  }
}
