@import "./variables";
@import "./breakpoints";
@import "./banners/index";
@import "./navbar/index";
@import "./home/index";
@import "./footer/index";
@import "./about/index";
@import "./allevents/index";
@import "./eventcard/index";
@import "./live/index";
@import "./eventinstance/index";
@import "./contact/index";
@import "./videoinstance/index";
@import "./loader/index";

* {
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	outline: none;
	font-family: "Roboto", sans-serif;
	transition: 0.25s;
}

button {
	cursor: pointer;
	background-color: transparent;
}
.content {
	width: 80%;
	max-width: 1200px;
	padding: 100px 0;
	margin: 0 auto;
}
.button-link {
	display: inline-block;
	margin-top: 20px;
	font-size: 20px;
	border: 1px solid;
	padding: 5px 10px;
	border-radius: 10px;
	transition: 0.25s;
	@include for-phone-only {
		font-size: 15px;
	}
	&:hover {
		letter-spacing: 0.5px;
		margin-left: 20px;
		border-color: transparent;
		&::before {
			content: "→ ";
		}
	}
}
html {
	overflow-y: scroll;
}
h2 {
	font-weight: bold;
	@include for-phone-only {
		font-size: 25px;
	}
}
#root,
body {
	width: 99vw;
	overflow-x: hidden;
	@include tablet {
		width: 100vw;
	}
}
