@charset "UTF-8";
.nav__container {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-box-shadow: -3px 14px 18px -15px rgba(0, 0, 0, 0.75);
          box-shadow: -3px 14px 18px -15px rgba(0, 0, 0, 0.75);
}

.nav__container .nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  margin: 0 auto;
  color: #012935;
  font-size: 18px;
}

.nav__container .nav img {
  height: 100%;
}

.nav__container .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__container .nav .links li {
  margin-left: 30px;
}

.live {
  height: 100%;
  width: 100%;
  padding: 100px 0;
}

.live__content {
  margin: 0 auto;
  width: 80%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.live__content .text {
  width: 55%;
}

.live__content .text img {
  height: 25px;
  margin-bottom: 20px;
}

.live__content .text h2 {
  color: #013549;
  font-size: 30px;
  margin-bottom: 30px;
}

.live__content .text p {
  font-size: 18px;
  line-height: 35px;
}

.live__content .text a {
  display: inline-block;
  color: #2a73af;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid #2a73af;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.live__content .text a:hover {
  letter-spacing: 0.5px;
  margin-left: 20px;
  border-color: transparent;
}

.live__content .text a:hover::before {
  content: "→ ";
}

.live__content .img {
  position: relative;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 60px;
  -webkit-box-shadow: 13px 17px 21px -17px rgba(0, 0, 0, 0.99);
          box-shadow: 13px 17px 21px -17px rgba(0, 0, 0, 0.99);
}

.live__content .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.live__content .img .filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.219);
}

.events {
  height: 100%;
  width: 100%;
  padding: 100px 0;
  background-color: white;
  font-size: 40px;
}

.events__content {
  width: 80%;
  margin: 0 auto;
}

.events__content a {
  display: inline-block;
  color: #2a73af;
  margin-top: 10px;
  font-size: 20px;
  border: 1px solid #2a73af;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.events__content a:hover {
  letter-spacing: 0.5px;
  margin-left: 20px;
  border-color: transparent;
}

.events__content a:hover::before {
  content: "→ ";
}

.events__header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  color: #013549;
}

.events__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event {
  margin-top: 20px;
  width: 24%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-size: cover;
  border-color: transparent;
}

.event:hover div {
  top: 0;
}

.event:hover div .event__date,
.event:hover div .event__desc {
  opacity: 1;
}

.event:hover .filter {
  background-color: rgba(0, 0, 0, 0.616);
}

.event .filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.267);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.event .text {
  height: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.event .text .event__title {
  z-index: 999;
  font-size: 25px;
}

.event .text .event__date {
  opacity: 0;
  margin-top: 25px;
  font-size: 18px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.event .text .event__desc {
  opacity: 0;
  width: 90%;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: justify;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.event .text a {
  display: inline-block;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.event .text a:hover {
  margin-left: 20px;
  background-color: white;
  color: #272525;
}

.shortabout {
  width: 100%;
  padding: 100px 0;
  position: relative;
  height: 100%;
}

.shortabout .bg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

.shortabout .filter {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #013549;
  opacity: 0.85;
}

.shortabout__content {
  width: 80%;
  margin: 0 auto;
  z-index: 9999999;
  color: white;
}

.shortabout__content h2 {
  font-size: 35px;
  margin-bottom: 40px;
  text-align: center;
}

.shortabout__content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.shortabout__content a {
  display: inline-block;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.shortabout__content a:hover {
  margin-left: 20px;
  border-color: transparent;
}

.shortabout__content a:hover::before {
  content: "→ ";
}

.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 200px 0;
}

.bgfilter {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: #013549;
  opacity: 0.85;
}

.bg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -30;
  position: absolute;
  top: 0;
  left: 0;
}

.home__content {
  margin: 0px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1500px;
}

.home__content .imageGallery {
  width: 49%;
}

.home__content .imageGallery .image-gallery {
  width: 100%;
}

.home__content .imageGallery .image-gallery .image-gallery-slide img {
  width: width 100%;
}

.home__content .text {
  display: block;
  width: 44%;
  color: white;
}

.home__content .text h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
}

.home__content .text p {
  margin-top: 10px;
  line-height: 35px;
  letter-spacing: 1px;
  font-size: 18px;
}

.footer {
  width: 100%;
  padding: 50px 0;
  background-color: rgba(36, 35, 35, 0.897);
  position: relative;
}

.footer__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__content {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-size: 16px;
}

.footer__content section h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

.footer__newsletter {
  width: 35%;
}

.footer__newsletter .input__button {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__newsletter .input__button input {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.footer__newsletter .input__button button {
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 5px;
  border: none;
  background-color: #2a73af;
  color: white;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.footer__newsletter .input__button button:hover {
  color: #2a73af;
  background-color: white;
}

.footer__contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer__contact ul li img {
  height: 25px;
  width: auto;
  margin-right: 20px;
}

.footer__links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer__links ul li a {
  color: white;
}

* {
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll;
}

h2 {
  font-weight: bold;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}
/*# sourceMappingURL=index.css.map */