@import "./variables";
@import "./navbar/index";
@import "./home/index";
@import "./footer/index";
* {
	margin: 0;
	list-style: none;
	padding: 0;
	text-decoration: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll;
}
h2 {
  font-weight: bold;
}
 #root {
	width: 100vw;
	overflow-x: hidden;
}
