.contact__content {
	width: 80%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	height: 650px;
	justify-content: space-between;
	@include for-phone-only {
		height: 100%;
		width: 90%;
		flex-direction: column-reverse;
	}
	@include tablet {
		width: 95%;
	}
	form {
		z-index: 999;
		border-radius: 5px;
		background-color: rgb(241, 241, 241);
		padding: 30px 30px;
		box-shadow: 13px 17px 15px -10px rgba(0, 0, 0, 0.068);
		margin-top: 7%;
		margin-right: -20px;
		height: 70%;
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include for-phone-only {
			width: 90%;
			margin: 20px 0;
			padding: 5%;
		}
		input,
		textarea {
			margin-bottom: 15px;
			color: rgb(0, 0, 0);
			padding: 5px;
			width: 100%;
			border-radius: 5px;
			border: none;
			@include for-phone-only {
				width: 100%;
			}
		}
		textarea {
			height: 200px;
			resize: none;
		}
		label {
			display: inline-block;
			margin-bottom: 10px;
			color: black;
		}
		.name-email-input {
			justify-content: space-between;
			display: flex;
			@include for-phone-only {
				flex-wrap: wrap;
			}
			article {
				width: 48%;
				@include for-phone-only {
					width: 100%;
				}
			}
		}
		button {
			padding: 5px;
			border-radius: 5px;
			width: 60px;
			border: 1px solid $l-blue;
			color: white;
			background-color: $l-blue;
			&:hover {
				color: $l-blue;
				background-color: white;
			}
		}
	}
	section {
		border-radius: 5px;
		height: 100%;
		width: 60%;
		background-color: rgb(192, 228, 240);
		overflow: hidden;
		@include for-phone-only {
			width: 100%;
		}
		.content {
			margin-top: 50px;
			flex-direction: column;
			justify-content: flex-start;
			padding: 0;
			width: 80%;
		}
		h2 {
			font-size: 35px;
			margin-bottom: 15px;
			@include for-phone-only {
				font-size: 25px;
			}
		}
		p {
			font-size: 16px;
			line-height: 28px;
			letter-spacing: 0.8px;
			@include for-phone-only {
				font-size: 14px;
			}
		}
		ul {
			margin-top: 50px;
			margin-left: 30px;
			display: flex;
			flex-direction: column;
			@include for-phone-only {
				font-size: 14px;
				margin-left: 10px;
			}
			li {
				display: flex;
				margin-bottom: 30px;
				align-items: center;
				img {
					margin-right: 15px;
					height: 25px;
					filter: invert(100%);
				}
			}
		}
	}
}
