.events {
  height: 100%;
  width: 100%;
  padding: 100px 0;
  background-color: white;
  font-size: 40px;
}
.events__content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  a {
    margin-top: 40px;
    color: $l-blue;
    border: 1px solid $l-blue;
    &:hover {
      letter-spacing: 0.5px;
      margin-left: 20px;
      border-color: transparent;
    }
  }
}
.events__header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  color: $d-blue;
}

.events__list {
  display: flex;
  height: 100%;
  justify-content: space-between;
}


