.shortabout {
	width: 100%;
	padding: 100px 0;
	position: relative;
	height: 100%;
	.bg {
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
	}
	.filter {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		background-color: $d-blue;
		opacity: 0.85;
	}
}
.shortabout__content {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 9999999;
	text-align: center;
	color: white;
	@include for-phone-only {
		text-align: start;
		width: 85%;
	}
	@include tablet {
		width: 95%;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 40px;
		text-align: center;
		@include for-phone-only {
			text-align: start;
			font-size: 25px;
		}
	}
	p {
		font-size: 18px;
		line-height: 35px;
		letter-spacing: 0.5px;
		width: 80%;
		margin: 0 auto;
		@include for-phone-only {
			text-align: justify;
			line-height: 25px;
			width: 100%;
			font-size: 14px;
			letter-spacing: 0.2px;
		}
		@include tablet {
			width: 95%;
		}
	}
	button {
		color: white;
		border: 1px solid white;
		&:hover {
			border-color: transparent;
		}
	}
}
